<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	   <h1>Someone is following your Activity</h1>
</br>
<p>
<%= image_tag @current_user.avatar.url(:mini)%>
<%= @current_user.username %> is interested in your event.

</p>
</br>
<%= @activity.title %>
<%= image_tag @activity.avatar.url(:medium) %>
</body>
</html>