<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	   <h1>Congradulation! you have been accepted to participate to the Activity</h1>
</br>
<p>
<%= image_tag @current_user.avatar.url(:mini)%>
<%= @current_user.username %> wants you to participate to the event.

</p>
</br>
<%= @activity.title %>
<%= image_tag @activity.avatar.url(:medium) %>
</body>
</html>