<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	   <h1>Hey Someone just followed you!</h1>
</br>

<%= image_tag @user.avatar.url(:mini)%>
<%= @user.username %>

</body>
</html>