$(".modal-body").hide();
$("#myModal").append('<div class="modal-body"></br></br><center><img src="/assets/logo.png"></center><h1><center>Wait...there is more. Woo!!</center></h1></div');
window.setTimeout(function(){location.reload()},1000)