<span class="counter counter-analog" data-direction="up" data-interval="1" data-format="9999999" data-stop="201200">0</span>
   <script>
   $('.counter').counter({initial:12250,interval:500});
   </script>