<li>
  <span><%= image_tag (User.find(message.user_id).avatar.url(:supermini))%></span>
  <span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
  <%= message.shout %>
</li>
</br>