<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @activityavatar.activity_id %>
</p>


<%= link_to 'Edit', edit_activityavatar_path(@activityavatar) %> |
<%= link_to 'Back', activityavatars_path %>
