$("#thebutton").append('<select id="activity_remote_avatar_url" name="activity[remote_avatar_url]"><% @embed_photo.each do |p| %><option data-img-src="<%= p %>" value="<%=p%>">Cute Kitten 1</option><% end%></select>').css('width', '240px');

$(".theform").hide();

$(".close-modal").click();

$("#activity_avatar").hide();

$("#remove_image").hide();

$(".remove_box").hide();

$(".put_a_box").append('Select a Picture from above and complete the form');

$("#activity_remote_avatar_url").imagepicker();






