<div class="grid_3">
    <div class="project-short sml-thumb">
        <div class="top-project-info">
            <div class="content-info-short clearfix">
                <a href="#" class="thumb-img">
             <%= image_tag @activity.avatar.url(:grid) %>
                </a>
                <div class="wrap-short-detail">
                    <h3 class="rs acticle-title"><a class="be-fc-orange" href="project.html">Coffee and Books</a></h3>
                    <p class="rs tiny-desc">by <a href="profile.html" class="fw-b fc-gray be-fc-orange">Henrik</a></p>
                    <p class="rs title-description">We are inviting you at Java coffee for fun and book reading. Come and join us and discover new exiting books.</p>
                    <p class="rs project-location">
                        <i class="icon iLocation"></i>
                        Montreal, Qc, Canada
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-project-info clearfix">
			<div class="btn btn-red"> Email Friends </div> <div class="btn btn-blue"><%= image_tag "thumbup.png" %>Facebook</div>
            <div class="line-progress">
                <div class="bg-progress">
                    <span  style="width: 21%"></span>
                </div>
            </div>
            <div class="group-fee clearfix">
                <div class="fee-item">
                    <p class="rs lbl">Credibility</p>
                    <span class="val">21%</span>
                </div>
                <div class="sep"></div>
                <div class="fee-item">
                    <p class="rs lbl">Like</p>
                    <span class="val">9</span>
                </div>
                <div class="sep"></div>
                <div class="fee-item">
                    <p class="rs lbl">Days Left</p>
                    <span class="val">2</span>
                </div>
            </div>
        </div>
    </div>
</div><!--end: .grid_3 > .project-short-->
