
	
<div class="project-short sml-thumb">
					 <div class="top-project-info">
                           <div class="content-info-short clearfix">
								<h3>Hey Mike look wOO's here?</h3>
								
								<% @useronline.each do |u| %>
							               <a class="thumb-avatar " href="#"><%= image_tag (u.avatar.url(:mini)), :width => '75', :height => '75' %> </a>
								<% end %>
								

							</div>
							</div>
	</div>				
