
	
<div class="project-short sml-thumb">
					 <div class="top-project-info">
                           <div class="content-info-short clearfix">
								<h3>Hey Mike look wOO's here?</h3>
	<% 	(9..17).each do |i|	%>	
			
				                <a class="thumb-avatar " href="#"><%= image_tag ("ex/th-119x119-"+ i.to_s + ".jpg"), :width => '75', :height => '75' %> </a>

			<% end %>
							</div>
							</div>
	</div>				
