<div class="grid_12 top-info">
	<div id="menu_wrapper" >
		<nav>
            <ul id="appleNav">
                <li><a href="/start/dashboard" title="logo"><%= image_tag 'logowoo2.png' %></a></li>
                <li><a href="/start/dashboard" title="Home">Home</a></li>
                <li><a href="/activities/myactivities" title="My activities">My Activities</a></li>
                <li><a href="/activities/new" title="Add Activity">Add An Activity</a></li>
                <li><a href="/follow/ifollow" title="Favorites">Favorites</a></li>

          <li><a href="/search/activitysearch" title="Search">Advanced Search</a></li>
                <li><a href="/people/index" title="People">People</a></li>


            </ul>
        </nav>
</div>
</div>
