<div class="grid_12 top-info">
	<div id="menu_wrapper" >
		<nav>
            <ul id="appleNav">
                <li><a href="/start/dashboard" title="Apple"><%= image_tag 'logowoo2.png' %></a></li>
                <li><a href="/start/dashboard" title="Store">Home</a></li>
                <li><a href="/activities/myactivities" title="Mac">My Activities</a></li>
                <li><a href="/activities/new" title="iPod">Add An Activity</a></li>
                <li><a href="/follow/ifollow" title="favorites">Favorites</a></li>

          <li><a href="/search/activitysearch" title="iPad">Advanced Search</a></li>
                <li><a href="http://www.apple.com/ipad/" title="iPad">People</a></li>


            </ul>
        </nav>
</div>
</div>
