<!DOCTYPE html>
<html>
<head>
  <title>Woo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="/assets/raphael-min.js"></script>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
 
</head>
<body>

<%= yield %>

</body>
</html>
