<!DOCTYPE html>
<html>
<head>
  <title>Find Something to Do Near You.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
 
<meta property="fb:admins" content="904380354" />
<meta property="og:site_name" content="woomatch" />
<meta property="fb:app_id" content="516849445076378" />
<meta property="og:title" content="woomatch"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.woomatch.com"/>
<meta property="fb:moderator" content="516849445076378" />

</head>
<body>

<%= yield %>

</body>
</html>
